
<ion-header>
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">furcarevet@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+63 906 942 8207</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.facebook.com/FurcareVetClinic" target="_blank" rel="noopener noreferrer" class="facebook"><i class="bi bi-facebook"></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a routerLink='/home'>Client Dashboard<span> </span></a></h1>
      

      <nav id="navbar" class="navbar">
        <ion-button>ADD</ion-button>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <ion-content>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ion-searchbar></ion-searchbar>
        
      </div>
      <div class="col-md-4">
      </div>
    </div>


  </div>
</ion-content>
  